*.jou
*.log
Kurtis/
prototype_watchman/prototype_watchman.cache/
prototype_watchman/prototype_watchman.hw/
prototype_watchman/prototype_watchman.runs/
prototype_watchman/prototype_watchman.sdk/.metadata/
prototype_watchman/prototype_watchman.sdk/.sdk/
prototype_watchman/prototype_watchman.sdk/RemoteSystemsTempFiles/
prototype_watchman/prototype_watchman.sdk/prototype_watchman_wrapper.hdf
prototype_watchman/prototype_watchman.sdk/prototype_watchman_wrapper_hw_platform_0/
prototype_watchman/prototype_watchman.sdk/webtalk/
prototype_watchman/prototype_watchman.srcs/
prototype_watchman/prototype_watchman.xpr
Python_Scripts/*.py~
