*.jou
*.log
mz_7010_dma_test/*
Python_Scripts/*.txt
HLS_tutorial/*
prototype_watchman/prototype_watchman.sdk/.metadata/*
prototype_watchman/prototype_watchman.cache/*
prototype_watchman/prototype_watchman.runs/*
